<div id="login_group">
    <div id="login_form">
        <h3 class="incenter">Авторизация</h3>
        <form action="#" method="post">

            <!--<p>Логин: <input type="text" name="username"/></p>
            <p>Пароль: <input type="password" name="password"/></p>
            <p><input type="checkbox" value="1" name="remember"/> Запомнить меня</p>
            <p><input id="btn_login" type="submit" value="Войти"/></p>-->

            <div class="shipping_address_description1 description">Please log in below
            </div>
            <div class="shipping_address_label4 label_txt key_value">EMAIL ADDRESS</div>
            <input type="email" class="email" name="username">
            <div class="shipping_address_label5 label_txt key_value">PASSWORD</div>
            <input type="password" class="password" name="password">
            <p><input type="checkbox" value="1" name="remember"/> Запомнить меня</p>
            <div class="shipping_address_label6 important_text">* Required Fields</div>
            <div class="btns_login_group">
                <input type="submit" value="LOG IN" class="btn_login">
                <a href="#" id="forgot_pass">Forgot Password?</a>
            </div>

        </form>
    </div>

    <div id="reg_form">
        <h3 class="incenter">Регистрация</h3>
        <form action="#" method="post">

            <!--<p>Логин: <input type="text" name="new_username"/></p>
            <p>Пароль: <input type="password" name="new_password"/></p>
            <p>Фамилия: <input type="text" name="lastname"/></p>
            <p>Имя: <input type="text" name="firstname"/></p>
            <p>Отчество: <input type="text" name="middlename"/></p>
            <p><input type="checkbox" value="1" name="remember"/> Запомнить меня</p>
            <p><input id="btn_reg" type="submit" value="Зарегистрироваться"/></p>-->

            <div class="shipping_address_label4 label_txt key_value">EMAIL ADDRESS</div>
            <input type="email" class="email" name="new_username">
            <div class="shipping_address_label5 label_txt key_value">PASSWORD</div>
            <input type="password" class="password" name="new_password">
            <div class="shipping_address_label5 label_txt">Фамилия:</div>
            <input type="text" class="email" name="lastname">
            <div class="shipping_address_label5 label_txt">Имя:</div>
            <input type="text" class="email" name="firstname">
            <div class="shipping_address_label5 label_txt">Отчество:</div>
            <input type="text" class="email" name="middlename">
            <p><input type="checkbox" value="1" name="remember"/> Запомнить меня</p>
            <div class="shipping_address_label6 important_text">* Required Fields</div>
            <div class="btns_login_group">
                <input type="submit" value="REG UP" class="btn_login">
            </div>

        </form>
    </div>
</div>