<p align="center">
    <form action="#" method="post">
                index
                <input type="hidden" name="disconnect" value="1">
                <p><input type="submit" value="Выйти"/></p>

    </form>
</p>
